.dialog-label {
    -fx-background-color: linear-gradient(to bottom right, #00ffbf, #00ddff);
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 8px 12px;
    -fx-text-fill: black;
}

.dialog-label.reply-label {
    -fx-background-color: #e5e5ea;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: black;
}
